<div
  id="test-container"
  style="width: 800px; height: 500px; background-color: wheat; padding: 20px"
>
  <div class="slider-container">
    <!-- radio button start  -->
    <input type="radio" name="radio-btn" id="radio1" />
    <input type="radio" name="radio-btn" id="radio2" />
    <input type="radio" name="radio-btn" id="radio3" />
    <input type="radio" name="radio-btn" id="radio4" />
    <input type="radio" name="radio-btn" id="radio5" />
    <!-- radio button ends -->

    <div class="slider-container-slides">
      <!-- slider card start  -->
      <div class="slider-container-slides-card" id="card1">
        <p class="slider-container-slides-card-title">
          One
          <img
            src="assets/images/1.jpg"
            alt="img1"
            class="slider-container-slides-card-title-img"
          />
        </p>
        <div class="slider-container-slides-card-detail">
          <div class="slider-container-slides-card-detail-desc">desc</div>
        </div>
      </div>
      <div class="slider-container-slides-card" id="card2">
        <p class="slider-container-slides-card-title">
          Two
          <img
            src="assets/images/2.jpg"
            alt="img1"
            class="slider-container-slides-card-title-img"
          />
        </p>
        <div class="slider-container-slides-card-detail">
          <div class="slider-container-slides-card-detail-desc">desc</div>
        </div>
      </div>
      <div class="slider-container-slides-card" id="card3">
        <p class="slider-container-slides-card-title">
          Three
          <img
            src="assets/images/3.jpg"
            alt="img1"
            class="slider-container-slides-card-title-img"
          />
        </p>
        <div class="slider-container-slides-card-detail">
          <div class="slider-container-slides-card-detail-desc">desc</div>
        </div>
      </div>
      <div class="slider-container-slides-card" id="card4">
        <p class="slider-container-slides-card-title">
          Four
          <img
            src="assets/images/4.jpg"
            alt="img1"
            class="slider-container-slides-card-title-img"
          />
        </p>
        <div class="slider-container-slides-card-detail">
          <div class="slider-container-slides-card-detail-desc">desc</div>
        </div>
      </div>
      <div class="slider-container-slides-card" id="card5">
        <p class="slider-container-slides-card-title">
          Five
          <img
            src="assets/images/5.jpg"
            alt="img1"
            class="slider-container-slides-card-title-img"
          />
        </p>
        <div class="slider-container-slides-card-detail">
          <div class="slider-container-card-detail-desc">desc</div>
        </div>
      </div>
      <!-- slider card ends -->
    </div>

    <!-- manual navigation start -->
    <div class="manual-navigation">
      <label for="radio1" class="manual-navigation-btn"></label>
      <label for="radio2" class="manual-navigation-btn"></label>
      <label for="radio3" class="manual-navigation-btn"></label>
      <label for="radio4" class="manual-navigation-btn"></label>
      <label for="radio5" class="manual-navigation-btn"></label>
    </div>
    <!-- manual navigation ends -->
  </div>
</div>
