<div class="slider">
  <div class="slide current" #slide>
    <div class="content">
      <h1>Slide 1</h1>
      <p>
        Lorem ipsum dolor sit amet, eros duis sit, ultrices eu ipsum bibendum,
        odio nam urna nulla lacus quis, vestibulum sit neque eros lectus
        fermentum.
      </p>
    </div>
  </div>
  <div class="slide" #slide>
    <div class="content">
      <h1>Slide 2</h1>
      <p>
        Lorem ipsum dolor sit amet, eros duis sit, ultrices eu ipsum bibendum,
        odio nam urna nulla lacus quis, vestibulum sit neque eros lectus
        fermentum.
      </p>
    </div>
  </div>
  <div class="slide" #slide>
    <div class="content">
      <h1>Slide 3</h1>
      <p>
        Lorem ipsum dolor sit amet, eros duis sit, ultrices eu ipsum bibendum,
        odio nam urna nulla lacus quis, vestibulum sit neque eros lectus
        fermentum.
      </p>
    </div>
  </div>
  <div class="slide" #slide>
    <div class="content">
      <h1>Slide 4</h1>
      <p>
        Lorem ipsum dolor sit amet, eros duis sit, ultrices eu ipsum bibendum,
        odio nam urna nulla lacus quis, vestibulum sit neque eros lectus
        fermentum.
      </p>
    </div>
  </div>
</div>
<div class="buttons">
  <button id="prev" (click)="onClickPrevSlide()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <button id="next" (click)="onClickNextSlide()">
    <i class="fas fa-arrow-right"></i>
  </button>
</div>
